.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/isoforms.counts.matrix
data/Trinotate.xls
data/Trinotate_gene_ontology
data/Trinotate_trans_ontology
R/R.Rproj
data/prev.isoform.counts.matrix
flagstats_dir/BLA_C1.flagstats.txt
flagstats_dir/BLA_C2.flagstats.txt
flagstats_dir/BLA_C3.flagstats.txt
flagstats_dir/BLA_F1.flagstats.txt
flagstats_dir/BLA_F2.flagstats.txt
flagstats_dir/BLA_F3.flagstats.txt
flagstats_dir/LOL_C1.flagstats.txt
flagstats_dir/LOL_C2.flagstats.txt
flagstats_dir/LOL_C3.flagstats.txt
flagstats_dir/LOL_F1.flagstats.txt
flagstats_dir/LOL_F2.flagstats.txt
flagstats_dir/LOL_F3.flagstats.txt
flagstats_dir/N_1.flagstats.txt
flagstats_dir/N_10_2.flagstats.txt
flagstats_dir/N_11_1.flagstats.txt
flagstats_dir/N_12.flagstats.txt
flagstats_dir/N_13.flagstats.txt
flagstats_dir/N_14_2.flagstats.txt
flagstats_dir/N_15_1.flagstats.txt
flagstats_dir/N_16.flagstats.txt
flagstats_dir/N_17.flagstats.txt
flagstats_dir/N_18_2.flagstats.txt
flagstats_dir/N_19.flagstats.txt
flagstats_dir/N_20.flagstats.txt
flagstats_dir/N_21.flagstats.txt
flagstats_dir/N_22.flagstats.txt
flagstats_dir/N_23_1.flagstats.txt
flagstats_dir/N_24_1.flagstats.txt
flagstats_dir/N_2_1.flagstats.txt
flagstats_dir/N_3.flagstats.txt
flagstats_dir/N_4.flagstats.txt
flagstats_dir/N_5.flagstats.txt
flagstats_dir/N_6.flagstats.txt
flagstats_dir/N_7.flagstats.txt
flagstats_dir/N_8.flagstats.txt
flagstats_dir/N_9.flagstats.txt
multiqc_data/multiqc.log
multiqc_data/multiqc_data.json
multiqc_data/multiqc_general_stats.txt
multiqc_data/multiqc_samtools_flagstat.txt
multiqc_data/multiqc_sources.txt
multiqc_report.html
Results/01.Processing/fastqc_processed/BLA_C1_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/BLA_C1_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/BLA_C1_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/BLA_C1_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/BLA_C2_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/BLA_C2_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/BLA_C2_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/BLA_C2_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/BLA_C3_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/BLA_C3_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/BLA_C3_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/BLA_C3_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/BLA_F1_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/BLA_F1_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/BLA_F1_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/BLA_F1_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/BLA_F2_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/BLA_F2_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/BLA_F2_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/BLA_F2_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/BLA_F3_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/BLA_F3_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/BLA_F3_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/BLA_F3_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/LOL_C1_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/LOL_C1_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/LOL_C1_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/LOL_C1_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/LOL_C2_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/LOL_C2_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/LOL_C2_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/LOL_C2_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/LOL_C3_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/LOL_C3_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/LOL_C3_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/LOL_C3_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/LOL_F1_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/LOL_F1_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/LOL_F1_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/LOL_F1_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/LOL_F2_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/LOL_F2_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/LOL_F2_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/LOL_F2_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/LOL_F3_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/LOL_F3_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/LOL_F3_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/LOL_F3_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_10_2_CKDL230020994-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_10_2_CKDL230020994-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_10_2_CKDL230020994-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_10_2_CKDL230020994-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_11_1_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_11_1_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_11_1_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_11_1_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_12_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_12_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_12_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_12_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_13_CKDL230014576-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_13_CKDL230014576-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_13_CKDL230014576-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_13_CKDL230014576-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_14_2_CKDL230020995-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_14_2_CKDL230020995-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_14_2_CKDL230020995-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_14_2_CKDL230020995-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_15_1_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_15_1_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_15_1_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_15_1_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_16_CKDL230014585-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_16_CKDL230014585-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_16_CKDL230014585-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_16_CKDL230014585-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_17_CKDL230014577-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_17_CKDL230014577-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_17_CKDL230014577-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_17_CKDL230014577-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_18_2_CKDL230020996-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_18_2_CKDL230020996-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_18_2_CKDL230020996-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_18_2_CKDL230020996-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_19_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_19_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_19_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_19_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_1_CKDL230014573-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_1_CKDL230014573-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_1_CKDL230014573-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_1_CKDL230014573-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_20_CKDL230014586-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_20_CKDL230014586-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_20_CKDL230014586-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_20_CKDL230014586-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_21_CKDL230014578-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_21_CKDL230014578-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_21_CKDL230014578-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_21_CKDL230014578-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_22_CKDL230014584-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_22_CKDL230014584-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_22_CKDL230014584-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_22_CKDL230014584-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_23_1_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_23_1_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_23_1_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_23_1_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_24_1_CKDL230014587-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_24_1_CKDL230014587-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_24_1_CKDL230014587-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_24_1_CKDL230014587-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_2_1_CKDL230014579-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_2_1_CKDL230014579-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_2_1_CKDL230014579-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_2_1_CKDL230014579-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_3_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_3_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_3_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_3_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_4_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_4_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_4_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_4_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_5_CKDL230014574-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_5_CKDL230014574-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_5_CKDL230014574-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_5_CKDL230014574-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_6_CKDL230014580-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_6_CKDL230014580-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_6_CKDL230014580-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_6_CKDL230014580-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_7_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_7_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_7_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_7_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_8_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_8_CKDL230014589-1A_HJLMVCCX2_L5_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_8_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_8_CKDL230014589-1A_HJLMVCCX2_L5_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_9_CKDL230014575-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_9_CKDL230014575-1A_HJLJKBBXX_L3_1.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_processed/N_9_CKDL230014575-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.html
Results/01.Processing/fastqc_processed/N_9_CKDL230014575-1A_HJLJKBBXX_L3_2.P.qtrim_fastqc.zip
Results/01.Processing/fastqc_raw/BLA_C1_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/BLA_C1_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/BLA_C1_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/BLA_C1_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/BLA_C2_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/BLA_C2_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/BLA_C2_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/BLA_C2_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/BLA_C3_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/BLA_C3_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/BLA_C3_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/BLA_C3_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/BLA_F1_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/BLA_F1_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/BLA_F1_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/BLA_F1_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/BLA_F2_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/BLA_F2_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/BLA_F2_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/BLA_F2_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/BLA_F3_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/BLA_F3_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/BLA_F3_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/BLA_F3_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/LOL_C1_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/LOL_C1_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/LOL_C1_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/LOL_C1_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/LOL_C2_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/LOL_C2_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/LOL_C2_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/LOL_C2_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/LOL_C3_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/LOL_C3_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/LOL_C3_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/LOL_C3_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/LOL_F1_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/LOL_F1_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/LOL_F1_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/LOL_F1_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/LOL_F2_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/LOL_F2_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/LOL_F2_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/LOL_F2_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/LOL_F3_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/LOL_F3_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/LOL_F3_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/LOL_F3_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_10_2_CKDL230020994-1A_HJLJKBBXX_L3_1_fastqc.html
Results/01.Processing/fastqc_raw/N_10_2_CKDL230020994-1A_HJLJKBBXX_L3_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_10_2_CKDL230020994-1A_HJLJKBBXX_L3_2_fastqc.html
Results/01.Processing/fastqc_raw/N_10_2_CKDL230020994-1A_HJLJKBBXX_L3_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_11_1_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/N_11_1_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_11_1_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/N_11_1_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_12_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/N_12_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_12_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/N_12_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_13_CKDL230014576-1A_HJLJKBBXX_L3_1_fastqc.html
Results/01.Processing/fastqc_raw/N_13_CKDL230014576-1A_HJLJKBBXX_L3_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_13_CKDL230014576-1A_HJLJKBBXX_L3_2_fastqc.html
Results/01.Processing/fastqc_raw/N_13_CKDL230014576-1A_HJLJKBBXX_L3_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_14_2_CKDL230020995-1A_HJLJKBBXX_L3_1_fastqc.html
Results/01.Processing/fastqc_raw/N_14_2_CKDL230020995-1A_HJLJKBBXX_L3_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_14_2_CKDL230020995-1A_HJLJKBBXX_L3_2_fastqc.html
Results/01.Processing/fastqc_raw/N_14_2_CKDL230020995-1A_HJLJKBBXX_L3_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_15_1_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/N_15_1_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_15_1_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/N_15_1_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_16_CKDL230014585-1A_HJLJKBBXX_L3_1_fastqc.html
Results/01.Processing/fastqc_raw/N_16_CKDL230014585-1A_HJLJKBBXX_L3_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_16_CKDL230014585-1A_HJLJKBBXX_L3_2_fastqc.html
Results/01.Processing/fastqc_raw/N_16_CKDL230014585-1A_HJLJKBBXX_L3_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_17_CKDL230014577-1A_HJLJKBBXX_L3_1_fastqc.html
Results/01.Processing/fastqc_raw/N_17_CKDL230014577-1A_HJLJKBBXX_L3_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_17_CKDL230014577-1A_HJLJKBBXX_L3_2_fastqc.html
Results/01.Processing/fastqc_raw/N_17_CKDL230014577-1A_HJLJKBBXX_L3_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_18_2_CKDL230020996-1A_HJLJKBBXX_L3_1_fastqc.html
Results/01.Processing/fastqc_raw/N_18_2_CKDL230020996-1A_HJLJKBBXX_L3_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_18_2_CKDL230020996-1A_HJLJKBBXX_L3_2_fastqc.html
Results/01.Processing/fastqc_raw/N_18_2_CKDL230020996-1A_HJLJKBBXX_L3_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_19_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/N_19_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_19_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/N_19_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_1_CKDL230014573-1A_HJLJKBBXX_L3_1_fastqc.html
Results/01.Processing/fastqc_raw/N_1_CKDL230014573-1A_HJLJKBBXX_L3_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_1_CKDL230014573-1A_HJLJKBBXX_L3_2_fastqc.html
Results/01.Processing/fastqc_raw/N_1_CKDL230014573-1A_HJLJKBBXX_L3_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_20_CKDL230014586-1A_HJLJKBBXX_L3_1_fastqc.html
Results/01.Processing/fastqc_raw/N_20_CKDL230014586-1A_HJLJKBBXX_L3_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_20_CKDL230014586-1A_HJLJKBBXX_L3_2_fastqc.html
Results/01.Processing/fastqc_raw/N_20_CKDL230014586-1A_HJLJKBBXX_L3_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_21_CKDL230014578-1A_HJLJKBBXX_L3_1_fastqc.html
Results/01.Processing/fastqc_raw/N_21_CKDL230014578-1A_HJLJKBBXX_L3_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_21_CKDL230014578-1A_HJLJKBBXX_L3_2_fastqc.html
Results/01.Processing/fastqc_raw/N_21_CKDL230014578-1A_HJLJKBBXX_L3_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_22_CKDL230014584-1A_HJLJKBBXX_L3_1_fastqc.html
Results/01.Processing/fastqc_raw/N_22_CKDL230014584-1A_HJLJKBBXX_L3_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_22_CKDL230014584-1A_HJLJKBBXX_L3_2_fastqc.html
Results/01.Processing/fastqc_raw/N_22_CKDL230014584-1A_HJLJKBBXX_L3_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_23_1_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/N_23_1_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_23_1_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/N_23_1_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_24_1_CKDL230014587-1A_HJLJKBBXX_L3_1_fastqc.html
Results/01.Processing/fastqc_raw/N_24_1_CKDL230014587-1A_HJLJKBBXX_L3_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_24_1_CKDL230014587-1A_HJLJKBBXX_L3_2_fastqc.html
Results/01.Processing/fastqc_raw/N_24_1_CKDL230014587-1A_HJLJKBBXX_L3_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_2_1_CKDL230014579-1A_HJLJKBBXX_L3_1_fastqc.html
Results/01.Processing/fastqc_raw/N_2_1_CKDL230014579-1A_HJLJKBBXX_L3_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_2_1_CKDL230014579-1A_HJLJKBBXX_L3_2_fastqc.html
Results/01.Processing/fastqc_raw/N_2_1_CKDL230014579-1A_HJLJKBBXX_L3_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_3_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/N_3_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_3_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/N_3_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_4_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/N_4_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_4_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/N_4_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_5_CKDL230014574-1A_HJLJKBBXX_L3_1_fastqc.html
Results/01.Processing/fastqc_raw/N_5_CKDL230014574-1A_HJLJKBBXX_L3_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_5_CKDL230014574-1A_HJLJKBBXX_L3_2_fastqc.html
Results/01.Processing/fastqc_raw/N_5_CKDL230014574-1A_HJLJKBBXX_L3_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_6_CKDL230014580-1A_HJLJKBBXX_L3_1_fastqc.html
Results/01.Processing/fastqc_raw/N_6_CKDL230014580-1A_HJLJKBBXX_L3_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_6_CKDL230014580-1A_HJLJKBBXX_L3_2_fastqc.html
Results/01.Processing/fastqc_raw/N_6_CKDL230014580-1A_HJLJKBBXX_L3_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_7_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/N_7_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_7_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/N_7_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_8_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.html
Results/01.Processing/fastqc_raw/N_8_CKDL230014589-1A_HJLMVCCX2_L5_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_8_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.html
Results/01.Processing/fastqc_raw/N_8_CKDL230014589-1A_HJLMVCCX2_L5_2_fastqc.zip
Results/01.Processing/fastqc_raw/N_9_CKDL230014575-1A_HJLJKBBXX_L3_1_fastqc.html
Results/01.Processing/fastqc_raw/N_9_CKDL230014575-1A_HJLJKBBXX_L3_1_fastqc.zip
Results/01.Processing/fastqc_raw/N_9_CKDL230014575-1A_HJLJKBBXX_L3_2_fastqc.html
Results/01.Processing/fastqc_raw/N_9_CKDL230014575-1A_HJLJKBBXX_L3_2_fastqc.zip
